@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.main-container {
  height: calc(100vh - 76px);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  margin: 0;
}

.content-section {
  height: calc(100vh - 76px);
  padding: 20px;
  scroll-snap-align: end;
}

.content-section h1 {
  padding: 20px 0;
}

.card-image {
  max-height: 310px;
}

@media screen and (max-width: 767px) {
  .main-container {
    height: calc(100vh - 56px);
  }

  .content-section {
    height: auto;
    scroll-snap-align: initial;
  }
  .card {
    margin: 10px 0;
  }
}
