#message {
  min-height: 250px;
}

#message::-webkit-scrollbar {
  width: 8px;
  background-color: aliceblue;
}

#message::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(44, 163, 243, 0.3);
  box-shadow: inset 0 0 6px rgba(44, 163, 243, 0.3);
  background-color: rgb(69, 142, 226);
}

.form-submit {
  background-color: #ff6169;
  border: 1px solid #ff6169;
}

.form-submit:hover {
  background-color: #646464cb;
}
