.hero {
  height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.hero-section {
  background-color: rgba(10, 10, 10, 0.6);
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding: 20px;
}

blockquote {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .hero {
    height: calc(100vh - 56px);
  }

  .hero-section {
    background-color: rgba(10, 10, 10, 0.6);
    margin: 0 20px;
    width: auto;
    text-align: center;
    padding: 20px;
  }
}
