.cv-section {
  scroll-snap-align: end;
  margin: 10px 0;
}

.cv-hero {
  background-image: url("../static/assets/images/jungle.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.cv-section {
  margin-bottom: 0;
}

.cv-section-title {
  font-size: 2em;
  margin: 30px 20px 30px 20px;
}
