.cv-container {
  height: calc(100vh - 70px);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  margin: 0;
}

.cv-section {
  scroll-snap-align: end;
  margin: 10px 0;
}

@media screen and (max-width: 767px) {
  .my-container {
    height: calc(100vh - 56px);
  }
}

.cv-section-title {
  font-size: 2em;
  margin: 30px 20px 30px 20px;
}
